@import "tailwindcss";

#tasklist::-webkit-scrollbar {
  display: none;
}

#taskoverview::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #111;
  color: #fff;
}

#tasklist::-webkit-scrollbar-thumb {
  background-color: rgb(143, 143, 143);
  border-radius: 50px;
}

#select {
  color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

#select option {
  background-color: #140b0beb;
  color: #fff;
}

